body{
    background-color: darkgrey;
}
#content{
    margin:0 !important;
    padding:0 !important;
    width: 100vw;
    
    
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 13fr;
}
#topbar{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: white;
    min-height: 50px;
    
}
#sidebar{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;

    min-width: 200px;
}
#main{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow-y: auto;

}
#cards{
    min-width: 100%;
    margin:0 !important;
    padding:0 !important;
}
.card{
    margin: 0 auto;
    width:95%
}
.badge:focus{
    outline-color: transparent!;
    outline-style: none;
}


.dropdown-toggle::after {
    content: none;
}
#todays_tasks_navbar{
    display: none;
}
#week_tasks_navbar{
    display: none;
}
#urgent_tasks_navbar{
    display: none;
}
#list_view_navbar{
    display: none;
}
#project_view_navbar{
    display: none;
}



@media (max-width: 767.98px) { 
    #content{
        margin:0 !important;
        padding:0 !important;
        width: 100vw;
        height: 100vh;
        
        
        display: block;
        overflow-y: scroll;
    }
    
    #sidebar{
        display: none;
    }
    #main{
        display: block;
    
    }

    #cards{
        width: 100%;
    }
    .card{
        width:100%;
    }
    #todays_tasks_navbar{
        display: block;
    }
    #week_tasks_navbar{
        display: block;
    }
    #urgent_tasks_navbar{
        display: block;
    }
    #list_view_navbar{
        display: block;
    }
    #project_view_navbar{
        display: block;
    }
 }